@model IEnumerable<Mvcproje.Models.Makale>

@{
    ViewBag.Title = "BlogAra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <h2>Aradığınız İçerikteki Makaleler</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.kategoriadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye.kullaniciadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baslik)
            </th>
   
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.okunma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.kategoriadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.kullaniciadi)
                </td>
                <td>
                    <a href="/Home/MakaleDetay/@item.makaleid">@Html.DisplayFor(modelItem => item.baslik)</a> 
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.okunma)
                </td>
              
            </tr>
        }

    </table>
</div>