@model Mvcproje.Models.Uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üye</h2>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki.yetki1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.yetki1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adsoyad)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.uyeid }) 
   
</p>
